a {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
}
.link:hover {
	color: #39FF14;
	text-shadow: 3px 3px #FF14BF;
	text-decoration: none;
}
body {
  	background: url("images/dboys-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	background-color: black;
}
.content {
	margin: 200px 5px 0 5px;
}
.right {
	text-align: right;
}
.row {
	margin-top: 10px;
}

/*mobile*/
@media only screen and (max-width: 768px) {
.link {
	font-size: 30px;
}
body {
  	background: url("images/mobile-background.jpg") no-repeat center center fixed;
  	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	background-color: black; 
}
.content {
	margin-top: 90px;
}
.left {
	text-align: center;
}
.right {
	text-align: center;
}
.row {
	margin-top: 0;
}
}
